 /*бук*/
@media screen and (min-width: 992px) { 

	.container{
        max-width: 1300px;
	}

	/*main tags*/

	.container-sm {
		margin: auto;
	}

	.par {
		display: block;
	}
	
	.date {
		margin-top: 15px;
	}

	.border {
		border-bottom: 1px solid #9EC1D4;
	}


	/*main-promo*/

	.main-promo-thirds {
		display: block;
	}

	.main-promo-first, .main-promo-second {
		display: none;
	}

	/*header*/

	.header {
		background-image: url('../img/header/main-header.jpg');
		height: 500px;
	}

	.header-brand img {
		width: 370px;
		height: 150px;
		}

	/*menu*/

	.nav-bar {
		display: block;
	}

	.toggle {
		display: none;
	}

	/*news-top*/
	.news-top {
		margin-bottom: 7%;
	}	

	.news-top_list {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.news-top_list_iteam {
		width: 250px;
	}

	.news-top_list_iteam:hover {
		background: none;
	}

	/*	main class  news-sm*/

	.news-sm_poster {
		padding-left: 20px;
	}

	.news-sm_text{	
		padding: 10px 0px 10px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.content_date_main {
		margin: 10px 0 0 0 ;
		font-size: 0.9em;
	}

	.news-sm_title {
		padding-left: 0px;
	}

	/*	content*/

	.content { 
		margin-bottom: 7%;
	}

	.content_title,.content_poster, .par {
		display: block;
	}	

	.content_iteam_main {
		padding: 0 15px;
	}

	.content_iteam {
		padding: 0 15px;
	}

	.contet_info {
		background: none;
		padding: 10px 10px 20px 0px;
	}

	.contet_info:hover {
		background: none;
	}

	.content_promo {
		display: block;
	}


	/*article*/

	.article, 	.article-main {
		display: block;
	
	}

	.article {
		margin-bottom: 7%;
	}

}