
/*main tags*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	color: #000;
}


h1 {
	font-size: 4rem;
	color: #fff;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {

	text-decoration: none;
	color: #8999A3;
	cursor: pointer;
}


a:active {
 	opacity: 0.5; 
 	color: #8999A3;
 } 
   

ul, li {
	display: block;
}



/*main class*/

.wrapper { /*в desktop footer стоит не так как надо (если убратьь flex о все норм )*/
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

/*.main-btn:hover { должно пригодится 
	cursor: pointer;
} 

.main-btn: a hover { 
	color: #fff;
} 

.main-btn:active {
 	background: #3c76b6; 
 } */


.container {
	padding: 0;
}

.row {
	margin: 0; /*если не поставить margin то в мобильной версии появляется отступ и прокрутка*/
}
/*header*/

.header {
	background: url(../img/header_mobile.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 35vh;
    color: #fff;
    margin-bottom: 10%;
}

.burger {
	display: block;
	padding: 5%;
}


.menu-nav, .social { 
	display: none;

}

.social {

}

.herder-logo-text {
	padding: 0.5% 3%;
	font-size: 1.3rem;
	background: red;
	margin: 0; 
	color: #fff;
}


/*theme*/

.theme {
	display: none;
}

.theme-list { /*где должы быть эти классы в медиа или здесь */
	display: flex;
	justify-content: space-between;
}

.theme-list-item {
	display: flex;
	flex-direction: column;
}


/*content*/

.news-item-img img {
	width: 100%;
	height: auto;
}

.news-item-info {
	display: flex;
	flex-direction: column;
}

.next-btn {
	display: block;
	color: #fff; 
	background: #000; 
	padding: 7px; 
	border: 0;
	text-align: center;
} 

/*footer */

.footer {
	background: #000;
	padding: 2%;
	color: #fff;
	text-align: center;
}

@media screen and (min-width: 576px) { 

	.header {
		margin-bottom: 0;
	}

	.header-menu {
		display: block;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		margin-bottom: 3%;
	}

	.header-menu a {
		font-size: 13px;
		/*padding: ; задать значение чтоб выделение элемента было одинаковым*/
	}

/*/*	.header-menu a:hover {
		background: #FF0000;
		color: #fff;
	}
*/
	.menu-social {
		display: block;
	}

	.burger {
		display: none;
	}

	.menu-nav, .social {
		display: block;
		margin: 0;
		display: flex;
		justify-content: space-between;
	}

	.theme {
		display: block;
		background: #D4F2F3;
	}

}
/*snezhana.efremova.98@bk.ru*/


/*git config --global user.email "snezhana.efremova.98@bk.ru"
git config --global user.name "sneggaa"


snegaa

shpilkms
*/
