
	/*main tags*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
/*	font-family: Pompadur; 
	font-family/*: ApercuPro-Mono.otf;*/*/
	font-size: 14px;
	color: #000;
	line-height: 25px;
}

@font-face {
    font-family: ApercuPro-Mono.otf; /* Имя шрифта */
    src: url(fonts/ApercuPro-Mono.otf); /* Путь к файлу со шрифтом */
   }

ul {
	list-style-type: none;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover { 
    text-decoration: none;
	color: #F32613;
}

h1, h2 {
	margin: 0px;
	color: #2a5b2e;
	font-size: 1em;
	margin: 20px 0 20px 0;
}



	/*main class*/

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

.date {
	font-size: 0.8em;
	color: #605e5e;
}

.par {
	display: none;
	font-size: 0.9em;
	color: #605e5e;
}


	/*main.promo*/

.main-promo-img {
	width: 100%;
}

.main-promo-second, .main-promo-thirds {
	display: none;
}

	/*header*/

.header {
	background: url(https://regnum.ru/uploads/pictures/news/2017/08/17/regnum_picture_1503002228112792_big.jpg) no-repeat;
	background-size: cover;
	height: 300px;

}

.header-brand img {
	width: 300px;
	height: 120px;
}

.header-brand {
	display: flex;
	justify-content: center;
	margin-top: 10%;

}

	/*menu*/

.toggle {
	color: #fff;
	padding: 10px;
	display: block;
}

.nav-bar {
	background:#fff;
	padding: 10px;
}

.nav-bar ul {
	display: flex;
	justify-content: space-between;
}

.nav-bar{
	display: none;
}

	/*news-top и content_news_item*/

.news-top, .content_news_item {
	background: #D4F2F3;
}

.content_news_title, .content_news_poster {
	display: none;
}

.news-top_list {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}



.news-top_list_item,.content_news_info, .content_news_first_info {
	padding: 20px 0;
	display: flex;
	flex-direction:column-reverse;
	width: 100%;
}

.news-top_list_item:hover {                
	background: rgba(38,165,184,0.5);
}

.content_news_item:hover {
	background: rgba(38,165,184,0.5);
}

   /*content_news_first и content_news_item*/


.content_news_first_title, .content_news_first_info {
	padding-left: 40px;
}

.content_news_title, .content_news_first_title {
	color: #2a5b2e;
	font-size: 1em;
}
